<h1>User info</h1>
<%= form_for(@user) do |f| %>
  <label class="field">
    <%= f.text_field :name, autofocus: true %>
  </label>

  <label class="field">
    <%= f.attachment_field :profile_image %>
  </label>

  <label class="field">
    <%= f.text_area :introduction, autofoucus: true %>
  </label>


  <%= f.submit "Update User" %>
<% end %>