<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li class="">
      <%= link_to 'User', user_path(current_user.id) %>
    </li>
    <%= yield %>
  </body>
</html>
